<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wnc.superword.manage.mapper.ArticleMapper">
	
	<sql id="tableName">article</sql>
	<resultMap id="BaseResultMap" type="com.wnc.superword.manage.pojo.zb8.Article">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="url" property="url" jdbcType="INTEGER" />
		<result column="from_website" property="fromWebsite" jdbcType="INTEGER" />
		<result column="from_url" property="fromUrl" jdbcType="CHAR" />
		<result column="title" property="title" jdbcType="CHAR" />
		<result column="day" property="day" jdbcType="CHAR" />
		<result column="keyword" property="keyword" jdbcType="CHAR" />
		<result column="thumbnail" property="thumbnail" jdbcType="CHAR" />
		<result column="comments" property="comments" jdbcType="INTEGER" />
		<result column="hot_comments" property="hotComments" jdbcType="INTEGER" />
		<result column="translated" property="translated" jdbcType="INTEGER" />
		
	</resultMap>
	<select id="listBySql" resultMap="BaseResultMap" parameterType="map">
		select *,case when eng_content is null then 0 else 1 end as 'translated' from article ${whereSql} order by ${sort} ${order} , day desc, from_url desc, news_time desc limit ${start},${rows}
	</select>
	<select id="selectCountBySql" resultType="long" parameterType="map"
		useCache="true">
		select count(*) from article ${whereSql}
	</select>

</mapper>
