<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<!-- 使用spring自带的占位符替换功能 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<!-- 允许JVM参数覆盖 -->
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<!-- 忽略没有找到的资源文件 -->
		<property name="ignoreResourceNotFound" value="true" />
		<!-- 配置资源文件 -->
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
				<value>classpath:env.properties</value>
				<value>classpath:log4j.properties</value>
				<value>classpath:httpclient.properties</value>
			</list>
		</property>
	</bean>
	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="20" />
		<property name="maxPoolSize" value="50" />
		<property name="queueCapacity" value="1000000" />
		<property name="keepAliveSeconds" value="200" />
	</bean>
	<bean id="commentsManager" class="com.wnc.superword.manage.task.ArticleCommentsTask">
		<property name="taskExecutor">
			<ref bean="taskExecutor" />
		</property>
	</bean>
	
	<!-- 扫描包 -->
	<context:component-scan base-package="com.wnc.superword.**.service,com.wnc.superword.**.pojo,com.wnc.superword.**.task" />

	<!-- 多数据源配置 -->
	<bean id="ds_main" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="${jdbc.sqlite.driverClassName}" />
		<property name="url" value="${jdbc.mbs.url}" />
		<property name="username" value="${jdbc.sqlite.username}" />
		<property name="password" value="${jdbc.sqlite.password}" />
	</bean>
	<bean id="ds_dict" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="${jdbc.sqlite.driverClassName}" />
		<property name="url" value="${jdbc.dict.url}" />
		<property name="username" value="${jdbc.sqlite.username}" />
		<property name="password" value="${jdbc.sqlite.password}" />
	</bean>
	<bean id="ds_zb8" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="${jdbc.sqlite.driverClassName}" />
		<property name="url" value="${jdbc.zb8.url}" />
		<property name="username" value="${jdbc.sqlite.username}" />
		<property name="password" value="${jdbc.sqlite.password}" />
	</bean>
	<bean id="ds_xxin" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="${jdbc.sqlite.driverClassName}" />
		<property name="url" value="${jdbc.xxin.url}" />
		<property name="username" value="${jdbc.sqlite.username}" />
		<property name="password" value="${jdbc.sqlite.password}" />
	</bean>
	<bean id="ds_bbei" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="${jdbc.sqlite.driverClassName}" />
		<property name="url" value="${jdbc.bbei.url}" />
		<property name="username" value="${jdbc.sqlite.username}" />
		<property name="password" value="${jdbc.sqlite.password}" />
	</bean>

	<!-- 动态配置数据源 -->
	<bean id="multipleDataSource" class="com.wnc.superword.manage.db.DynamicDataSource">
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry value-ref="ds_main" key="ds_main"></entry>
				<entry value-ref="ds_dict" key="ds_dict"></entry>
				<entry value-ref="ds_zb8" key="ds_zb8"></entry>
				<entry value-ref="ds_xxin" key="ds_xxin"></entry>
				<entry value-ref="ds_bbei" key="ds_bbei"></entry>
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="ds_main"></property>      <!-- 默认使用ds_main的数据源 -->
	</bean>
	
	<!-- 配置事务管理器 -->

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="multipleDataSource" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />

	<task:annotation-driven />
	
	<tx:advice id="transactionManagerAdivice"
		transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="create*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="edit*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="*" propagation="REQUIRED" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut id="tx"
			expression="execution(public * com.wnc.superword.*.*.service.*.*(..))" /> <!--把事务控制在Service层 -->
		<aop:advisor pointcut-ref="tx" advice-ref="transactionManagerAdivice" />
	</aop:config>
</beans>
